<style>
  .submit-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
</style>

<div class="container">
  <form method="post">
    {% csrf_token %}

    {% include 'autopg/form_errors.html' with errors=form.non_field_errors %}

    {% for field in form %}
      <div class="row form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
        <div class="col-sm-10">{{ field }}</div>
      </div>

      {% include 'autopg/form_errors.html' with errors=field.errors %}
    {% endfor %}

    <div class="submit-btn">
      <button type="submit" class="btn btn-primary">{{ btn_title }}</button>
    </div>
  </form>
</div>
